/* Application Template
 * -----------------------------------------------------------------------------
 * Styling for the structure of the site. If your element doesn't show up on
 * every page, it probably shouldn't be in this file.
 * -----------------------------------------------------------------------------*/

/* Things to place in separate files...
 * ---------------------------------------------------------------------------
 * /extends/            => Sass extends declarations
 * /mixins/             => Sass mixins declarations
 * _buttons.scss
 * _fonts.scss          => Font imports
 * _forms.scss
 * _lists.scss
 * _library.scss        => Custom classes used throughout the app.
 * _tables.scss
 * _typography.scss
 * _utilities.scss
 * _variables.scss
 * _component_name.scss => Styles for a component of functionality (e.g. – modal).
 * _page_name.scss      => Styles for page specific elements.
 * ---------------------------------------------------------------------------
 */

.header-primary {
	border-bottom:1px solid $white;
	opacity:0.8;
}

.nav-primary {}

.content-primary {}

.footer-primary {
	color:$white;

	.contacts {
		font-size: 14px;
	}
}

nav {
	font-size:16px;

	ul li {
		display: inline;
		list-style-type: none;
		padding-right: 20px;
	}

	a {
		color:$white;
		padding-bottom:3px;
	}

	a:hover {
		color:$white;
		border-bottom: 1px solid $red;
	}
}

.menu li{
	position: relative;
	z-index:999 !important;
}
section {@include outer-container;}

.one {@include span-columns(1); }
.two {@include span-columns(2); }
.three {@include span-columns(3); }
.four {@include span-columns(4); }
.five {@include span-columns(5); }
.six {@include span-columns(6); }
.seven {@include span-columns(7); }
.eight {@include span-columns(8); }
.nine {@include span-columns(9); }
.ten {@include span-columns(10); }
.eleven {@include span-columns(11); }
.twelve {@include span-columns(12); }

.off-one {@include shift(1); }
.off-two {@include shift(2); }
.off-three {@include shift(3); }
.off-four {@include shift(4); }
.off-five {@include shift(5); }
.off-six {@include shift(6); }
.off-seven {@include shift(7); }
.off-eight {@include shift(8); }
.off-nine {@include shift(9); }
.off-ten {@include shift(10); }
.off-eleven {@include shift(11); }









/*	--------------------------------------------------
	:: Block grids
	
	These are 2-up, 3-up, 4-up and 5-up ULs, suited
	for repeating blocks of content. Add 'mobile' to
	them to switch them just like the layout grid
	(one item per line) on phones
	
	For IE7/8 compatibility block-grid items need to be
	the same height. You can optionally uncomment the
	lines below to support arbitrary height, but know
	that IE7/8 do not support :nth-child.
	-------------------------------------------------- */
	
	.block-grid { display: block; overflow: hidden; }
	.block-grid>li { display: block; height: auto; float: left; }
	
	.block-grid.two-up { margin-left: -4% }
	.block-grid.two-up>li { margin-left: 4%; width: 46%; margin-bottom: 4%;}
/* 	.block-grid.two-up>li:nth-child(2n+1) {clear: left;} */
	
	.block-grid.three-up { margin-left: -2% }
	.block-grid.three-up>li { margin-left: 2%; width: 31.3%; margin-bottom: 2%;}
/* 	.block-grid.three-up>li:nth-child(3n+1) {clear: left;} */
	
	.block-grid.four-up { margin-left: -2% }
	.block-grid.four-up>li { margin-left: 2%; width: 23%; margin-bottom: 2%;}
/* 	.block-grid.four-up>li:nth-child(4n+1) {clear: left;} */
	
	.block-grid.five-up { margin-left: -1.5% }
	.block-grid.five-up>li { margin-left: 1.5%; width: 18.5%; margin-bottom: 1.5%;}
/* 	.block-grid.five-up>li:nth-child(5n+1) {clear: left;} */


