fieldset {
  background: none;
  border: 1px solid $red;
  margin: 0 0 ($base-line-height / 2) 0;
  padding: $base-line-height;

}



input,
label,
select {
  display: block;
  font-family: $form-font-family;
  font-size: 14px;
  color: $white;
}

label {
  font-weight: bold;
  margin-bottom: $base-line-height / 4;

  &.required:after {
    content: "*";
  }

  abbr {
    display: none;
  }
}
.labelLeft {
  margin-top:12px;
  font-size: 18px;

}

textarea,
#{$all-text-inputs},
select[multiple=multiple] {
  @include box-sizing(border-box);
  @include transition(border-color);
  background-color: none !important;
  border-radius: 0;
  border: 1px solid $red;
  box-shadow: none;
  font-family: $form-font-family;
  font-size: 14px;
   margin-bottom: $base-line-height / 2;
  padding: ($base-line-height / 3) ($base-line-height / 3);
  width: 100%;
  color:white !important;
  text-transform: uppercase;
  font-weight:bold;
  letter-spacing: 2px;
  padding-left:15px;

  &:hover {
    border-color: $white;
  }

  &:focus {
    border-color: $white !important;
    box-shadow: none;
    outline: none;
  }
}

textarea {
  resize: vertical;
}

input[type="search"] {
  @include appearance(none);
}

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: $base-line-height / 4;
}

input[type="file"] {
  margin-bottom: $base-line-height / 2;
  padding-bottom: ($base-line-height / 3);
  width: 100%;
}

select {
  width: auto;
  max-width: 100%;
  margin-bottom: $base-line-height;
}

input {
  background: none;
  height:50px;
  font-size: 16px !important;
  padding-left:10px;
}

input[type="submit"]{
  background:none;
  border:1px solid $red !important;
  border-radius: 0;
  font-size: 14px;
  height:50px;
  color: $red;

  &:hover {
    border:1px solid $white !important;
    background:none;
    color:white;
  }
}

::-webkit-input-placeholder {
   color: $white;
}

:-moz-placeholder { /* Firefox 18- */
   color: $white;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $white;
}

:-ms-input-placeholder {  
   color: $white;
}
