<header id="header header-primary" class="header-primary" style="position:fixed;width:100%;display:none;">
	
	<div class="bg-black">
		<section class="" style="padding-top:30px;">
			<div class="two off-one" style="margin-top:-25px;">
				<a href="/"><img src="/images/assets/logo.png" style="width:90%;"/></a>
			</div>
			<div class="seven off-one">
				<nav>
					<ul class="menu">
						<li><a href="/about">About Us</a></li>
						<li><a href="/speakers">Speakers</a></li>
						<li><a href="/partners">Partners</a></li>
						<li><a href="/testimonials">Testimonials</a></li>
						<li><a href="/register">Register</a></li>
						<li><a href="/news">News</a></li>
						<li><a href="/contact">Contact Us</a></li>
						<li><a href="/members">Members</a></li>
					</ul>
				</nav>
			</div>
		</section>
	</div>



</header>
